.backGroundHeroImage {
	background-image: url("/assets/images/hero_image.jpg");
	background-color: #cccccc;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#companyLogo {
	cursor:pointer;
	font-style: italic;
}